#container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#container img {
    z-index: -1;
    height: 400px;
    width: 1200px;
    aspect-ratio: 16/9;
}

#btn-1,
#btn-2 {
    height: 300px;
    width: 60px;
    border: none;
    z-index: 1;
    position: relative;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    background: #0000000c;
    border-radius: 10px;
    color: white;
}

#btn-1 {
    left: 80px;
}

#btn-2 {
    right: 80px;
}

#btn-1:hover,
#btn-2:hover {
    background: #ffffffa2;
    cursor: pointer;
    color: #000;
}