#container {
    width: 90%;
    margin: 2.5%;
    padding: 2.5%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
}

#links {
    min-width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 600;
    font-size: 20px;
}

#links ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    list-style: none;
    font-weight: 100;
    font-size: 15px;
}

hr {
    height: 1px;
    width: 80px;
    background: #000;
}