#container {
    min-height: 100px;
    min-width: 350px;
    margin: 30px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #8b898933;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
}

#container p {
    margin-left: 10px;
}